{% extends 'base.html.twig' %}

{# Compte le nombres d'historiques #}
{% set nbrHistoriques = 0 %}
{% for uneReservations in reservations %}
	{% if dateToday|date("m/d/Y") > uneReservations.DateFin|date("m/d/Y") %}
	{% set nbrHistoriques = nbrHistoriques + 1 %}
	{% endif %}
{% endfor %}

{% block title %}Historique des réservation(s){% endblock %}

{% block header %}
	<center><h3>{{nbrHistoriques}} réservation(s)</h3></center>
{% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
			<center><h2>Historique de réservation(s)</h2></center>
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width: 10%;"><strong>Logement</strong></th>
						<th style="width: auto;"><strong>Locataire</strong></th>
                        <th style="width: 7%;"><strong>Date début</strong></th>
                        <th style="width: 7%;"><strong>Date fin</strong></th>
                        <th style="width: 5%;"><strong>Prix nuit</strong></th>
                        <th style="width: 5%;"><strong>Recette</strong></th>
                        <th style="width: 7%;"></th>
					</tr>
				</thead>
				<tbody>
				{# Afficher tous les historiques #}
				{% for uneReservations in reservations %}
					{% if dateToday|date("m/d/Y") > uneReservations.DateFin|date("m/d/Y") %}
					<tr>
                    	<th scope="row"><a href="{{path('logement_profile', {id:uneReservations.logements.id})}}">{{uneReservations.logements.Nom}}</a></th>
						<th scope="row"><a href="{{path('locataire_profile', {id:uneReservations.locataires.id})}}">{{uneReservations.Locataires.Nom}}</a></th>
                        <th scope="row">{{uneReservations.DateDebut|date("m/d/Y")}}</th>
                        <th scope="row">{{uneReservations.DateFin|date("m/d/Y")}}</th>
                        <th scope="row">{{uneReservations.PrixNuit}}</th>
                        <th scope="row">{{uneReservations.PrixTotal}}</th>
                        <th scope="row">
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
								<button type="button" class="btn btn-outline-primary"><a href="{{path('historique_profile', {id:uneReservations.id})}}">Voir</a></button>
							</div>
                        </th>
					</tr>
					{% endif %}
				{% endfor %}
				{% if nbrHistoriques == 0 %}
						<center><p>Aucune réservation dans l'historique !</p></center>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
