{% extends 'base.html.twig' %}

{% block title %} N°{{reservations.id}} reservation{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			
				<div class="col-md-10">
					<div class="row">
					{# BOX INDIVIDU #}
						<div class="col-md-4">
							<div class="card">
								<h5 class="card-header"><center>Individu</center></h5>
								<div class="card-body">
									<p class="card-text">
										<div class="input-group mb-3">
                                        	<span class="input-group-text" id="basic-addon1">Nom</span>
                                       		<input type="text" class="form-control" placeholder="" value="{{reservations.logements.Nom}}" aria-label="Username" aria-describedby="basic-addon1">
                                    	</div>
										<div class="input-group mb-3">
                                        	<span class="input-group-text" id="basic-addon1">Prenom</span>
                                       		<input type="text" class="form-control" placeholder="" value="{{reservations.locataires.Nom}}" aria-label="Username" aria-describedby="basic-addon1">
                                    	</div>
									</p>
								</div>
							<div class="card-footer"></div>
						</div>
					</div>
					{# BOX INFORMATION PERSONNEL #}
					<div class="col-md-8">
						<div class="card"><h5 class="card-header"><center>Information personnel</center></h5>
						<div class="card-body">
							<p class="card-text">
								{# BOX GAUCHE #}
								<div class="row">
								<div class="col-md-6">
									<div class="input-group mb-3">
										<span class="input-group-text" id="basic-addon1">Email</span>
										<input type="text" class="form-control" placeholder="" value="{{reservations.DateDebut}}" aria-label="Username" aria-describedby="basic-addon1">
									</div>
									<div class="input-group mb-3">
										<span class="input-group-text" id="basic-addon1">Adresse</span>
										<input type="text" class="form-control" placeholder="" value="{{reservations.DateFin}}" aria-label="Username" aria-describedby="basic-addon1">
									</div>
								</div>
								{# BOX DROITE #}
								<div class="col-md-6">
									<div class="input-group mb-3">
										<span class="input-group-text" id="basic-addon1">Téléphone</span>
										<input type="text" class="form-control" placeholder="" value="{{reservations.PrixNuit}}" aria-label="Username" aria-describedby="basic-addon1">
									</div>
									<div class="input-group mb-3">
										<span class="input-group-text" id="basic-addon1">Code Postal</span>
										<input type="text" class="form-control" placeholder="" value="{{reservations.PrixTotal}}" aria-label="Username" aria-describedby="basic-addon1">
									</div>
								</div>
								</div>	
							</p>
						</div>
						<div class="card-footer"></div>
						</div>
					</div>
					{# BOX RESERVATION #}
				</div>
				
		<div class="col-md-1">
		</div>
	</div>
	</div>
{% endblock %}
