{% extends 'base.html.twig' %}

{# Compte le nombres de locataires #}
{% set nbrReservations = 0 %}
{% for uneReservations in reservations %}
	{% set nbrReservations = nbrReservations + 1 %}
{% endfor %}

{% block title %}{{nbrReservations}} locataire(s){% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th><strong>Logement</strong></th>
						<th><strong>Locataire</strong></th>
						<th><strong>Date Début</strong></th>
						<th><strong>Date Fin</strong></th>
						<th><strong>Prix Nuit</strong></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{# Afficher tous les réservations à venir #}
				{% for uneReservations in reservations %}
					<tr>
						<th scope="row">{{uneReservations.Logements.Nom}}</th>
						<th scope="row">{{uneReservations.locataires.Nom}}</th>
						<th scope="row">{{uneReservations.DateDebut}}</th>
						<th scope="row">{{uneReservations.DateFin}}</th>
                        <th scope="row">{{uneReservations.PrixNuit}}</th>
				
						<th scope="row">
							<button class="btn btn-sm btn-outline-secondary me-2" type="button"><a href="">Modifier</a></button>
							<button class="btn btn-sm btn-outline-secondary me-2" type="button" ><a href="">Détails</a></button>

						
                    {% endfor %}

						</th>
					</tr>
				{% if nbrReservations == 0 %}
					<tr>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">
							<button class="btn btn-sm btn-outline-secondary me-2" type="button">Ajouter</button>
						</th>
					</tr>
				{% endif %}
				<button class="btn btn-sm btn-outline-secondary me-2" type="button"><a href="/reservation/ajouter">Ajouter</a></button>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
