{% extends 'base.html.twig' %}

{# Compte le nombres de locataires #}
{% set nbrReservations = 0 %}
{% for uneReservations in reservations %}
	{% if dateToday|date("m/d/Y") > uneReservations.DateFin|date("m/d/Y") %}
	{% set nbrReservations = nbrReservations + 1 %}
	{% endif %}
{% endfor %}

{% block title %}Liste des réservation(s){% endblock %}

{% block header %}
	<center><h3>{{nbrReservations}} réservation(s)</h3></center>
{% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
			<center><h2>Liste de réservation(s)</h2></center>
			<table class="table table-striped">
				<thead>
					<tr>
						<th><strong>Logement</strong></th>
						<th><strong>Locataire</strong></th>
						<th><strong>Début</strong></th>
						<th><strong>Fin</strong></th>
						<th><strong>Nombre de jours</strong></th>
						<th><strong>Prix à la nuit</strong></th>
						<th><strong>Taxe de séjour</strong></th>
						<th><strong>Prix du séjour</strong></th>
						<th><strong>Commentaire</strong></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{# Afficher tous les réservations à venir #}
				{% for uneReservations in reservations %}
				{% if dateToday|date("m/d/Y") > uneReservations.DateFin|date("m/d/Y") %}
					<tr>
						<th scope="row"><a href="">{{uneReservations.Logements.Nom}}</a></th>
						<th scope="row"><a href="">{{uneReservations.locataires.Nom}}</a></th>
						<th scope="row">{{uneReservations.DateDebut|date("m/d/Y")}}</th>
						<th scope="row">{{uneReservations.DateFin|date("m/d/Y")}}</th>

						<th scope="row">{{uneReservations.nbrJours}}</th>
                        <th scope="row">{{uneReservations.PrixNuit}}</th>
						<th scope="row">?</th>
						<th scope="row">{{uneReservations.PrixTotal}}</th>
						<th scope="row"><input class="form-control form-control-sm" type="text" value="{{uneReservations.Description}}" aria-label="Disabled input example" disabled readonly></th>
				
						<th scope="row">
							<div class="btn-group" role="group" aria-label="Basic outlined example">
								<button type="button" class="btn btn-outline-primary"><a href="{{path('reservation_modifier', {id:uneReservations.id})}}">Modifier</a></button>
								<button type="button" class="btn btn-outline-primary"><a href="{{path('reservation_supprimer', {id:uneReservations.id})}}">Supprimer</a></button>
							</div>
						{% endif %}
                    {% endfor %}
						</th>
					</tr>
				{% if nbrReservations == 0 %}
					<center><p>Aucune réservation !</p></center>
				{% endif %}
				</tbody>
			</table>
			<center>
				<div class="btn-group" role="group" aria-label="Basic outlined example">
					<button type="button" class="btn btn-outline-primary"><a href="/reservation/ajouter">Ajouter</a></button>
				</div>
			</center>
		</div>
	</div>
{% endblock %}
