{% extends 'base.html.twig' %}

{# Compte le nombres de locataires #}
{% set nbrReservations = 0 %}
{% for uneReservations in reservations %}
	{% set nbrReservations = nbrReservations + 1 %}
{% endfor %}

{% block title %}Liste des réservation(s){% endblock %}

{% block header %}
	<center><h3>{{nbrReservations}} réservation(s)</h3></center>
{% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th><strong>Logement</strong></th>
						<th><strong>Locataire</strong></th>
						<th><strong>Date Début</strong></th>
						<th><strong>Date Fin</strong></th>
						<th><strong>Prix Nuit</strong></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{# Afficher tous les réservations à venir #}
				{% for uneReservations in reservations %}
					<tr>
						<th scope="row"><a href="{{path('logement_profile', {id:uneReservations.logements.id})}}">{{uneReservations.Logements.Nom}}</a></th>
						<th scope="row"><a href="">{{uneReservations.locataires.Nom}}</a></th>
						<th scope="row">{{uneReservations.DateDebut|date("m/d/Y")}}</th>
						<th scope="row">{{uneReservations.DateFin|date("m/d/Y")}}</th>
                        <th scope="row">{{uneReservations.PrixNuit}}</th>
				
						<th scope="row">
							<button class="btn btn-sm btn-outline-secondary me-2" type="button"><a href="{{path('reservation_modifier', {id:uneReservations.id})}}">Modifier</a></button>
							<button class="btn btn-sm btn-outline-secondary me-2" type="button" ><a href="{{path('reservation_supprimer', {id:uneReservations.id})}}">Supprimer</a></button>

						
                    {% endfor %}

						</th>
					</tr>
				{% if nbrReservations == 0 %}
					<tr>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">
							<button class="btn btn-sm btn-outline-secondary me-2" type="button">Ajouter</button>
						</th>
					</tr>
				{% endif %}
				<button class="btn btn-sm btn-outline-secondary me-2" type="button"><a href="/reservation/ajouter">Ajouter</a></button>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
