{% extends 'base.html.twig' %}

{% block title %}Utilisateur | Modifier{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="height: 20%;">
                        <h1 class="card-title"><center>Modifier un nouvel utilisateur</center></h1>
                        <hr>
                        <br>
                        {{ form_start(registrationForm) }}

                        <center><h6 class="card-subtitle mb-2 text-muted">Adresse email</h6></center>
                        {{ form_row(registrationForm.email) }}
                        <br>
                        <center><h6 class="card-subtitle mb-2 text-muted">Mot de passe</h6></center>
                        {{ form_row(registrationForm.plainPassword) }}
                        <br>
                        <center>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
								<button type="submit" class="btn btn-outline-primary">Enregistrer</button>
								<button type="button" class="btn btn-outline-primary"><a href="{{path('parametres')}}">Annuler</a></button>
							</div>
						</center>
                    {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div> 
        </div>
    </div>         
{% endblock %}
