{% extends 'base.html.twig' %}

{% block title %}Utilisateur | Profile{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="height: 30%;">
                        <h1 class="card-title"><center>Utilisateur : {{user.email}}</center></h1>
                        <hr>
                        <br>
                        <center><h6 class="card-subtitle mb-2 text-muted">Adresse email</h6></center>
                        <center><input class="form-control form-control-sm" type="text" value="{{user.email}}" aria-label="Disabled input example" disabled readonly></center>
                        <br>
                        <center><h6 class="card-subtitle mb-2 text-muted">Rôle</h6></center>
                        <center><input class="form-control form-control-sm" type="text" value="Administrateur" aria-label="Disabled input example" disabled readonly></center>
                        <br>
                        <center>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
								<button type="button" class="btn btn-outline-primary"><a href="{{path('utilisateur_supprimer', {id:user.id})}}">Supprimer</a></button>
								<button type="button" class="btn btn-outline-primary"><a href="{{path('parametres')}}">Annuler</a></button>
							</div>
						</center>
                    </div>
                </div>
            </div> 
        </div>
    </div>         
{% endblock %}
