{% extends 'base.html.twig' %}

{% block title %}Utilisateur | Supprimer{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                {{ form_start(registrationForm) }}
                    <div class="card-body" style="height: 30%;">
                        <h1 class="card-title"><center>Utilisateur : {{user.email}}</center></h1>
                        <hr>
                        <br>
                        <center><h6 class="card-subtitle mb-2 text-muted">Adresse email</h6></center>
                        {{form_row(registrationForm.email)}}
                        <br>
                        <center><h6 class="card-subtitle mb-2 text-muted">Role</h6></center>
                       oui
                        <br>
                        <center>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
								<button type="submit" class="btn btn-outline-primary">Supprimer</button>
								<button type="button" class="btn btn-outline-primary"><a href="{{path('utilisateur_profile', {id:user.id})}}">Annuler</a></button>
							</div>
						</center>
                    </div>
                {{ form_end(registrationForm) }}
                </div>
            </div> 
        </div>
    </div>         
{% endblock %}
