{% extends 'base.html.twig' %}

{# Compte le nombres de locataires #}
{% set nbrLocataires = 0 %}
{% for unLocataire in locataires %}
	{% set nbrLocataires = nbrLocataires + 1 %}
{% endfor %}

{% block title %}Liste des locataire(s){% endblock %}

{% block header %}
	<center><h3>{{nbrLocataires}} locataire(s)</h3></center>
{% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th><strong>Nom</strong></th>
						<th><strong>Prenom</strong></th>
						<th><strong>Telephone</strong></th>
						<th><strong>Email</strong></th>
						<th><strong>Dernière location</strong></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{# Afficher tous les locataires #}
				{% for unLocataires in locataires %}
					<tr>
						<th scope="row">{{unLocataires.Nom}}</th>
						<th scope="row">{{unLocataires.Prenom}}</th>
						<th scope="row">{{unLocataires.Telephone}}</th>
						<th scope="row">{{unLocataires.Email}}</th>
						{# Variables etat #}
						{% set lastLocEtat = false %}
						{% set lastLoc = 0 %}

						{% for uneReservations in reservations %}

							{% if uneReservations.locataires.id == unLocataires.id %}

								{% if lastLoc == 0 %}
								<th scope="row">{{uneReservations.DateDebut|date("m/d/Y")}}</th>
								{% set lastLocEtat = lastLocEtat + 1 %}
								{% endif %}

							{% set lastLocEtat = true %}

							{% endif %}

						{% endfor %}

						{% if lastLocEtat == false %}
							<th scope="row">Vide</th>	
						{% endif %}		

						<th scope="row">
							<button class="btn btn-sm btn-outline-secondary me-2" type="button"><a href="{{path('locataire_modifier', {id:unLocataires.id})}}">Modifier</a></button>
							<button class="btn btn-sm btn-outline-secondary me-2" type="button" ><a href="{{path('locataire_profile', {id:unLocataires.id})}}">Détails</a></button>
						</th>
					</tr>
				{% endfor %}
				{% if nbrLocataires == 0 %}
					<tr>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">
							<button class="btn btn-sm btn-outline-secondary me-2" type="button"><a href="">Ajouter</a></button>
						</th>
					</tr>
				{% endif %}
					<th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th><button class="btn btn-sm btn-outline-secondary me-2" type="button"><a href="/locataire/ajouter">Ajouter</a></button></th>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
