{% extends 'base.html.twig' %}

{# Compte le nombres d'historiques #}
{% set nbrHistoriques = 0 %}
{% for uneReservations in reservations %}
	{% set nbrHistoriques = nbrHistoriques + 1 %}
{% endfor %}

{% block title %}Historique de vos locations{% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th><strong>Logement</strong></th>
						<th><strong>Locataire</strong></th>
                        <th><strong>Date début</strong></th>
                        <th><strong>Date fin</strong></th>
                        <th><strong>Prix nuit</strong></th>
                        <th><strong>Recette</strong></th>
                        <th></th>
					</tr>
				</thead>
				<tbody>
				{# Afficher tous les historiques #}
				{% for uneReservations in reservations %}
					<tr>
                    	<th scope="row">{{uneReservations.logements.Nom}}</th>
						<th scope="row">{{uneReservations.Locataires.Nom}}</th>
                        <th scope="row">{{uneReservations.DateDebut}}</th>
                        <th scope="row">{{uneReservations.DateFin}}</th>
                        <th scope="row">{{uneReservations.PrixNuit}}</th>
                        <th scope="row">{{uneReservations.PrixTotal}}</th>
                        <th scope="row">
                            <button class="btn btn-sm btn-outline-secondary me-2" type="button">Détails</button>
                        </th>
					</tr>
				{% endfor %}
				{% if nbrHistoriques == 0 %}
					<tr>
                    	<th scope="row">vide</th>
						<th scope="row">vide</th>
                        <th scope="row">vide</th>
                        <th scope="row">vide</th>
                        <th scope="row">vide</th>
                        <th scope="row">vide</th>
                        <th scope="row">
                            <button class="btn btn-sm btn-outline-secondary me-2" type="button">Réserver</button>
                        </th>
					</tr>
				{% endif %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
