{% extends 'base.html.twig' %}

{# Compte le nombres de locataires #}
{% set nbrLocataires = 0 %}
{% for uneReservations in reservations %}
	{% set nbrLocataires = nbrLocataires + 1 %}
{% endfor %}

{% block title %}{{nbrLocataires}} locataire(s){% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th><strong>Nom</strong></th>
						<th><strong>Prenom</strong></th>
						<th><strong>Telephone</strong></th>
						<th><strong>Email</strong></th>
						<th><strong>Dernière location</strong></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{# Afficher tous les locataires #}
				{% for unLocataires in locataires %}
					<tr>
						<th scope="row">{{unLocataires.Nom}}</th>
						<th scope="row">{{unLocataires.Prenom}}</th>
						<th scope="row">{{unLocataires.Telephone}}</th>
						<th scope="row">{{unLocataires.Email}}</th>
						{# Variables etat #}
						{% set lastLocEtat = false %}
						{% set lastLoc = 0 %}

						{% for uneReservations in reservations %}

							{% if uneReservations.locataires.id == unLocataires.id %}

								{% if lastLoc == 0 %}
								<th scope="row">{{uneReservations.DateDebut}}</th>
								{% set lastLocEtat = lastLocEtat + 1 %}
								{% endif %}

							{% set lastLocEtat = true %}

							{% endif %}

						{% endfor %}

						{% if lastLocEtat == false %}
							<th scope="row">Vide</th>	
						{% endif %}		

						<th scope="row">
							<button class="btn btn-sm btn-outline-secondary me-2" type="button">Modifier</button>
							<button class="btn btn-sm btn-outline-secondary me-2" type="button">Supprimer</button>
							<button class="btn btn-sm btn-outline-secondary me-2" type="button" ><a href="{{path('profile_locataire', {id:unLocataires.id})}}">Détails</a></button>
						</th>
					</tr>
				{% endfor %}
				{% if nbrLocataires == 0 %}
					<tr>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">
							<button class="btn btn-sm btn-outline-secondary me-2" type="button">Ajouter</button>
						</th>
					</tr>
				{% endif %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
