{% extends 'base.html.twig' %}

{# Compte le nombres de logements #}
{% set nbrLogements = 0 %}
{% for unLogements in logements %}
	{% set nbrLogements = nbrLogements + 1 %}
{% endfor %}

{% block title %}{{nbrLogements}} logement(s){% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th><strong>Nom</strong></th>
						<th><strong>Ville</strong></th>
                        <th><strong>Adresse</strong></th>
                        <th><strong>Code Postal</strong></th>
                        <th><strong>Pers. max</strong></th>
                        <th><strong>Etat</strong></th>
                        <th></th>
					</tr>
				</thead>
				<tbody>
				{# Afficher tous les logements #}
				{% for unLogements in logements %}
					{# Gestion de l'état du logement #}
					{% set logementEtat = "Occupé" %}
					{% if unLogements.Etat == 1 %}
						{% set logementEtat = "Libre" %}
					{% endif %}
					<tr>
                    	<th scope="row">{{unLogements.Nom}}</th>
						<th scope="row">{{unLogements.Ville}}</th>
                        <th scope="row">{{unLogements.Adresse}}</th>
                        <th scope="row">{{unLogements.CodePostal}}</th>
                        <th scope="row">{{unLogements.PersMax}}</th>
                        <th scope="row">{{logementEtat}}</th>
                        <th scope="row">
                            <button class="btn btn-sm btn-outline-secondary me-2" type="button">Modifier</button>
                            <button class="btn btn-sm btn-outline-secondary me-2" type="button">Supprimer</button>
                            <button class="btn btn-sm btn-outline-secondary me-2" type="button"><a href="{{path('profile_logement', {id:unLogements.id})}}">Détails</a></button>
                        </th>
					</tr>
				{% endfor %}
				{% if nbrLogements == 0 %}
					<tr>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">vide</th>
						<th scope="row">
							<button class="btn btn-sm btn-outline-secondary me-2" type="button">Ajouter</button>
						</th>
					</tr>
				{% endif %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
