{% extends 'base.html.twig' %}

{% block title %}Logement | Ajouter{% endblock %}

{% block body %}

<div style="margin-top: 80px;">
    <div class="container-fluid">
	<div class="row">
    <center><h2>Ajouter un logement</h2><center><br><br
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <center><h5 class="card-title">Information générale</h5></center>
                            <hr>
							{{form_start(form)}}
                            <table style="width: 100%;">
                                <tr>
                                    <th style="width: 40%;padding-right: 5%;">
										<h6 class="card-subtitle mb-2 text-muted">Nom</h6>
                                        {{form_row(form.Nom)}}
                                    </th>
                                    <th style="width: 40%;">
                                        <h6 class="card-subtitle mb-2 text-muted">Nombre max de personne(s)</h6>
                                        {{form_row(form.PersMax)}}
                                    </th>
                                </tr>
                            </table>
                            <br>
                            <center>                        
                                <h6 class="card-subtitle mb-2 text-muted">Commentaire</h6>
								{{form_row(form.Description)}}
                            </center>
                            <br>
                            <hr>
                            <br>
                        </div>
                    </div>               
				</div>
				<div class="col-md-4">
            	
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Emplacement</h5>
                            <hr>
							<br>
								<table>
									<tr>
										<th style="width: 70%;">
											<h6 class="card-subtitle mb-2 text-muted">Ville</h6>
											{{form_row(form.Ville)}}
										</th>
										<th>
											<h6 class="card-subtitle mb-2 text-muted">Code Postal</h6>
                                			{{form_row(form.CodePostal)}}
										</th>
									</tr>
								</table>
	                       		 <br>
                                <h6 class="card-subtitle mb-2 text-muted">Adresse</h6>
                                {{form_row(form.Adresse)}}
							<br>
                        </div>
                    </div>
					<br>
					<div class="card">
                        <div class="card-body">
							<center>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
								<button type="submit" class="btn btn-outline-primary">Enregistrer</button>
								{{form_end(form)}}
								<button type="button" class="btn btn-outline-primary"><a href="{{path('logement')}}">Annuler</a></button>
							</div>
							</center>
                        </div>
                    </div>
				</div>
			</div>
			</div>
			<div class="row">
				<div class="col-md-8">

				</div>
				<div class="col-md-4">

				</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>
							
{% endblock %}
