{% extends 'base.html.twig' %}

{# Compte le nombres de logements #}
{% set nbrLogements = 0 %}
{% for unLogements in logements %}
	{% set nbrLogements = nbrLogements + 1 %}
{% endfor %}

{% block title %}Liste des logement(s){% endblock %}

{% block header %}
	<center><h3>{{nbrLogements}} logement(s)</h3></center>
{% endblock %}

{% block body %}
    <div class="row">
		<div class="col-md-12">
			<center><h2>Liste de logement(s)</h2></center>
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width: 7%;"><strong>Etat</strong></th>
						<th style="width: 20%;"><strong>Nom</strong></th>
						<th style="width: auto;"><strong>Ville</strong></th>
                        <th style="width: 25%;"><strong>Adresse</strong></th>
                        <th style="width: 6%;"><strong>Pers. max</strong></th>
                        <th style="width: 5%;"></th>
					</tr>
				</thead>
				<tbody>
				{# Afficher tous les logements #}
				{% for unLogements in logements %}
					<tr>
						<th scope="row">
						{% set logementEtat = "Occupé" %}
							{% if unLogements.Etat == 1 %}
								{% set logementEtat = "Libre" %}
								<img src="/vert.png" width=10 height=10>
							{% else %}
								<img src="/rouge.png" width=10 height=10>
							{% endif %}
							{{logementEtat}}</th>
                    	<th scope="row">{{unLogements.Nom}}</th>
						<th scope="row">{{unLogements.Ville}}</th>
                        <th scope="row">{{unLogements.Adresse}}</th>
                        <th scope="row">{{unLogements.PersMax}}</th>
                        <th scope="row">
							<div class="btn-group" role="group" aria-label="Basic outlined example">
								<button type="button" class="btn btn-outline-primary"><a href="{{path('logement_profile', {id:unLogements.id})}}">Voir</a></button>
							</div>
					</tr>
				{% endfor %}
					{% if nbrLogements == 0 %}
						<center><p>Aucun logement !</p></center>
					{% endif %}
				</tbody>
			</table>
			<center>
				<div class="btn-group" role="group" aria-label="Basic outlined example">
					<button type="button" class="btn btn-outline-primary"><a href="{{path('logement_ajouter')}}">Ajouter</a></button>
				</div>
			</center>
		</div>
	</div>
{% endblock %}
