{% extends 'base.html.twig' %}

{% block title %}Logement | Modification{% endblock %}

{% block body %}
{{ form_start(form) }}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="row">
					{# BOX INDIVIDU #}
						<div class="col-md-4">
							<div class="card">
								<h5 class="card-header"><center>Logement</center></h5>
								<div class="card-body">
									<p class="card-text">
										<div class="input-group mb-3">
                                        	{{form_row(form.Nom)}}
                                    	</div>
										<div class="input-group mb-3">
                                        	{{form_row(form.PersMax)}}
                                    	</div>
									</p>
								</div>
							<div class="card-footer"></div>
						</div>
					</div>
					{# BOX INFORMATION PERSONNEL #}
					<div class="col-md-8">
						<div class="card"><h5 class="card-header"><center>Information</center></h5>
						<div class="card-body">
							<p class="card-text">
								{# BOX GAUCHE #}
								<div class="row">
								<div class="col-md-6">
									<div class="input-group mb-3">
										{{form_row(form.Ville)}}
									</div>
									<div class="input-group mb-3">
										{{form_row(form.Adresse)}}
									</div>
								</div>
								{# BOX DROITE #}
								<div class="col-md-6">
									<div class="input-group mb-3">
										{{form_row(form.Etat)}}
									</div>
									<div class="input-group mb-3">
										{{form_row(form.CodePostal)}}
									</div>
								</div>
								</div>	
							</p>
						</div>
						<div class="card-footer"></div>
						</div>
					</div>
					{# BOX RESERVATION #}
				</div>
				<div class="card"><h5 class="card-header">Description logement</h5>
					<div class="card-body">
						<p class="card-text">
						<div class="mb-3">
							{{form_row(form.Description)}}
						</div>
						</p>
					</div>
				<div class="card-footer"></div>
				</div>
                <br>
                <center><p><button type="submit">Ajouter</button> | <button><a href="/logement">Annuler</a></button></p></center>
				<div class="card">
                    <h5 class="card-header">Les dernières réservation</h5>
						<div class="card-body">
							<p class="card-text">
								<table class="table table-striped">
									<thead>
										<tr>
											<th><strong>Locataire</strong></th>
											<th><strong>Date Debut</strong></th>
											<th><strong>Date Fin</strong></th>
											<th><strong>Adulte(s)</strong></th>
											<th><strong>Enfant(s)</strong></th>
											<th><strong>Prix Nuit</strong></th>
											<th><strong>Prix Total</strong></th>
										</tr>
									</thead>
									<tbody>
									{% for uneReservations in logements.reservations %}
										<tr>
											<th scope="row"><a href="">{{uneReservations.locataires.Nom}}</a></th>
											<th scope="row">{{uneReservations.DateDebut|date("m/d/Y")}}</th>
											<th scope="row">{{uneReservations.DateFin|date("m/d/Y")}}</th>
								    		<th scope="row">{{uneReservations.NbrAdulte}}</th>
											<th scope="row">{{uneReservations.NbrEnfant}}</th>
											<th scope="row">{{uneReservations.PrixNuit}}</th>
											<th scope="row">{{uneReservations.PrixTotal}}</th>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</p>
						</div>
					<div class="card-footer"></div>
					</div>
			    </div>
		    <div class="col-md-1">
		    </div>
	    </div>
	</div>
{{ form_end(form) }}     
{% endblock %}
