{% extends 'base.html.twig' %}

{% block title %}RESERVATION index{% endblock %}

{% block body %}
    <h1>RESERVATION index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>PrixNuit</th>
                <th>PrixTotal</th>
                <th>NbrAdulte</th>
                <th>NbrEnfant</th>
                <th>EtatContrat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for r_e_s_e_r_v_a_t_i_o_n in r_e_s_e_r_v_a_t_i_o_ns %}
            <tr>
                <td>{{ r_e_s_e_r_v_a_t_i_o_n.id }}</td>
                <td>{{ r_e_s_e_r_v_a_t_i_o_n.DateDebut }}</td>
                <td>{{ r_e_s_e_r_v_a_t_i_o_n.DateFin }}</td>
                <td>{{ r_e_s_e_r_v_a_t_i_o_n.PrixNuit }}</td>
                <td>{{ r_e_s_e_r_v_a_t_i_o_n.PrixTotal }}</td>
                <td>{{ r_e_s_e_r_v_a_t_i_o_n.NbrAdulte }}</td>
                <td>{{ r_e_s_e_r_v_a_t_i_o_n.NbrEnfant }}</td>
                <td>{{ r_e_s_e_r_v_a_t_i_o_n.EtatContrat ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('test_show', {'id': r_e_s_e_r_v_a_t_i_o_n.id}) }}">show</a>
                    <a href="{{ path('test_edit', {'id': r_e_s_e_r_v_a_t_i_o_n.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('test_new') }}">Create new</a>
{% endblock %}
